{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="static\courses-slider.jpeg" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid my-3">
    <h1>Our Courses</h1>
</div>
<div class="container-fluid my-3">
    <div class="card" style="width: 18rem;">
        <img src="static\Courses\css.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">View Full Details</a>
        </div>
    </div>
</div>

{% for i in allCourse %}
    {{i.cname}} {{i.csummary}} {{i.cimg}}
{% endfor %}
{% endblock content %}